.projectCard {
    width: 330px;
    max-width: 800px;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
}

/* section -1 */
.projectContentSection {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.projectInfoSection {
    margin: 10px 0;
    height: 200px;
}

.projectInfoSection h1 {
    font-family: Playfair Display;
    font-size: 28px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
}

.projectInfoSection p {
    font-family: Nunito;
    font-size: 17px;
    font-weight: 400;
    /* line-height: 27px; */
    letter-spacing: 0em;
    text-align: left;
}

.projectInfoSection button {
    padding: 5px 24px;
    padding: 8px 24px;
    border-radius: 24px;
    border: 1px solid #000;
    margin: 5px 0;
}



.projectCard:nth-child(odd) .projectContentSection {
    order: 2;
}

/* section -2 */
.projectImageSection {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}

.projectImageSection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media (width>=750px) {
    .projectCard {
        width: 720px;
        height: 450px;
        display: flex;
        align-items: center;
    }

    .projectContentSection {
        width: 50%;
        height: 100%;
    }

    .projectInfoSection {
        width: 280px;
    }

    .projectImageSection {
        width: 50%;
        height: 100%;

    }
}

@media (width>=900px) {
    .projectCard {
        width: 850px;
        height: 450px;
        display: flex;
        align-items: center;
    }

    .projectContentSection {
        width: 50%;
        height: 100%;
    }

    .projectImageSection {
        width: 50%;
        height: 100%;
    }
}