.headerContainer {
    background-color: #f1f4f7;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 20px;

}

.headerTitle {
    font-family: Comfortaa;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #25282B;
    text-decoration: none;
}



.menuBtn {
    display: none;
}

.menuIcon {
    margin-left: auto;
}


.menuBtn:checked~.menuIcon {
    scale: .9;
}

.navItemsContainer {
    width: 0;
    overflow: hidden;
}

.menuBtn:checked~.navItemsContainer {
    display: block;
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    height: 140px;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    transition: .2s all;
}

.navItemsContainer li {
    margin: 20px;
}

.navItemsContainer li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.navItemsContainer li a:hover {
    color: #FDC435;
    transition: .2s all;
}


@media (width>=750px) {
    .menuIcon {
        display: none;
    }

    .navItemsContainer {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        padding-left: 0;

    }
}