.addProjectContainer {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/Vector.png");
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 10px;
}

.addProjectContainer h1 {
    position: absolute;
    top: 10px;
    font-family: Playfair Display;
    font-size: 30px;
    font-weight: 600;

}

.addProjectContainer h1::before {
    position: absolute;
    content: '';
    bottom: 10px;
    top: 40px;
    left: 30px;
    right: 0;
    background-color: #FDC435;
    height: 3px;
    width: 100px;

}

.formContainer {
    flex: 1;
    max-width: 420px;
    display: flex;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 6px 0;

}

.inputContainer label {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    /* color: #FDC435; */
    color: #a0a0a0;
    margin-bottom: 5px;
}

.inputContainer input,
.inputContainer textarea {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #E8ECF4;
    font-size: 18px;
    padding: 0 10px;
}

.inputContainer input:focus,
.inputContainer textarea:focus {
    outline: 1px solid #000;
}

.inputContainer textarea {
    height: 100px;
}

.formContainer button {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    padding: 5px 24px;
    border-radius: 8px;
    border: 1px solid #000;
    background-color: #FDC435;
    align-self: flex-end;

}

.formContainer button:hover {
    background-color: #fff;
    border: #FDC435 1px solid;
    transition: .2s all;
    cursor: pointer;
    outline: 1px solid red;
}